{% extends 'base.html' %}

{% block content %}


<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        
        <div class="container-fluid pt-4 px-4">
            <div class="row vh-100 bg-secondary rounded align-items-center justify-content-center mx-0">
                <div class="col-md-8 text-center">
                    <h3>Bienvenue sur votre plateforme de vote en ligne!</h3>
                </div>
            </div>
        </div>
        

</div>
  
{% endblock %}


