{% extends 'base.html' %}

{% block content %}
<br>
<h2>Voter pour votre Candidat:</h2>
<form method="post">
    {% csrf_token %}
    <div class="row">
      {% for candidate in candidates %}
      <div class="col-md-6 mb-3">
        <div class="input-group">
          <div class="input-group-text">
            <input type="radio" id="candidate_{{ candidate.id }}" name="candidate_id" value="{{ candidate.id }}">
            <label for="candidate_{{ candidate.id }}" class="ms-2">{{ candidate.nom }} - {{ candidate.party }}</label>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row">
      <div class="col-12 mb-3">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
  
{% endblock %}